body {
    margin: 0px;
    background: #CCCCCC;
    font-family: sans-serif;
}
            
.header-cont {
    width: 100%;
    position: fixed;
    top: 0px;
}

.header {
    height: 20px;
    color: #FFFFFF;
    background: #4C4E52;
    border: 1px solid #4C4E52;
    width: 960px;
    margin: 0px auto;
    padding: 5px;
}

.column {
    float: left;
    width: 50%;
    vertical-align: middle;
}

.content {
    text-align: center;
    background: #FFFFFF;
    width: 960px;
    height: 2000px;
    margin: 20px auto;
    padding: 5px;
    padding-top: 40px;
}

#warning {
    color: red;
}

#name {
    text-align: left;
}

#localTime {
    text-align: right;
}

.button-12 {
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    margin: 2px;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-12:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.button-12:hover {
    background: #4C4E52;
}

table, th, td {
    border: 0px solid;
    border-collapse: collapse;
    margin: 0px auto;
    padding: 3px;
    text-align: left;
    width: 500px;
}

.headline {
    color: #FFFFFF;
    background: #4C4E52;
}

.rowHighlight {
    background: #EEEEEE;
}

.rowHighlight:hover {
    background: #8f8f8fb0;
}

.rowLowlight:hover {
    background: #8f8f8fb0;
}

.data:hover {
    background: #636363b0;
}

#audio {
    padding-top: 10px;
    padding-bottom: 1px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: green;
}

a:active {
    color: red;
}